
head
    meta(charset='UTF-8')
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    //- From Google, get jQuery
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js') 
    //- From CDN, get bootstrap
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
    //- Also from CDN, get the bootstrap table (not used yet)
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.6.0/bootstrap-table.min.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.6.0/bootstrap-table.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.6.0/locale/bootstrap-table-en-US.min.js")  
    //- Locally loaded query builder, didn't find this on a CDN ...
    script(src='/public/js/query-builder.standalone.min.js') 
    link(rel='stylesheet', href='/public/css/query-builder.min.css')
    //- Bootstrap slider downloaded locally ..
    script(src='/public/js/bootstrap-slider.min.js')
    link(rel='stylesheet', href='/public/css/bootstrap-slider.min.css')
    //- Bootbox used by rules builder, also locally saved ...
    script(src='/public/js/bootbox.min.js')
    //- From CDN get the seletize stuff ...
    script(src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.0/js/standalone/selectize.min.js")
    link(href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.0/css/selectize.bootstrap3.min.css",rel="stylesheet")
    //- Specific styles
    link(href="/public/css/nhsn.css", rel="stylesheet")
body
block content
  h1= title
  p Welcome to #{title}

    .container
        .col-md-12.col-lg-10.col-lg-offset-1.demo
            #infxClassSection
                div.h4 Choose an infection classification
                input#infxClass.demo-default.selectized(type="text", tabindex="-1", style="display: block;", placeholder="Pick an Infection Classification ...")
            #infxTypeSection
                div.h4 Choose a type of infection
                input#infxType.demo-default.selectized(type="text", tabindex="1", style="display: block;", placeholder="Pick an Infection Type ...")

            #builder
            |                 
            .btn-group
                button.btn.btn-warning.reset Reset
                |                     
                button.btn.btn-success.set Set rules
            |                 
            .btn-group
                button.btn.btn-primary.parse-json JSON
                |                     
                button.btn.btn-primary.parse-sql(data-stmt='question_mark') SQL (question mark)
                |                     
                button.btn.btn-primary.parse-sql(data-stmt='numbered') SQL (numbered)
                |                     
                button.btn.btn-primary.parse-sql(data-stmt='false') SQL
            |                 
            #result.hide
                h3 Output
                |                     
                pre
         
script(src='/public/js/queryBuilder.js')
     
